@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* icon-placeholder::placeholder {
  @apply;
} */
::marker {
  color: white;
  text-align: center;
}
.btn {
  @apply font-bold  rounded;
}
.btn-gray {
  @apply bg-gray-imdb text-white;
}
.btn-gray:hover {
  @apply bg-gray-light-imdb;
}
.btn-nav {
  @apply bg-black text-white py-2 px-2;
}
.btn-nav:hover {
  @apply bg-gray-light-imdb text-white;
}
.btn-gray-ligth {
  @apply bg-gray-light-imdb text-white;
}
.btn-gray-ligth:hover {
  @apply bg-gray-700 text-white;
}
.text-xxs {
  font-size: 0.5rem;
}
.text-blue-imdb {
  color: #388cef;
}
/* .img-poster {
  height: 19.688rem;
} */
